<div id="base-container">
  <div id="form-select">
    <p>Choose Your Form:</p>
    <select (change)="chosen($event)">
      <option value="null">Select Form</option>
      @for (form of forms; track form.name) {
        <option [value]="form.name">{{ form.title }}</option>
      }
    </select>
  </div>

  @if (chosenForm()) {
    @if (verificationService.isAllowed()) {
      <form [formGroup]="formBody">
        <p class="required-field">* = Required Field</p>

        <div class="input-div">
          <label for="date" ><span class="required-field">*</span>Date : </label>
          <input id="date" type="date" formControlName="date" />
        </div>

        <div class="input-div">
          <label for="trailerNumber"><span class="required-field">*</span>Trailer Number: </label>
          <input id="trailerNumber" formControlName="trailerNumber">
        </div>

        <div formGroupName="shipFrom">
          <h3>Ship From: </h3>
          <div class="input-div">
            <label for="shipFromName"><span class="required-field">*</span>Name: </label>
            <input id="shipFromName" formControlName="name">
          </div>
          <div class="input-div">
            <label for="shipFromAddress"><span class="required-field">*</span>Address: </label>
            <input id="shipFromAddress" formControlName="address">
          </div>
          <div class="input-div">
            <label for="shipFromCity"><span class="required-field">*</span>City: </label>
            <input id="shipFromCity" formControlName="city">
          </div>
          <div class="input-div">
            <label for="shipFromState"><span class="required-field">*</span>State: </label>
            <input id="shipFromState" formControlName="state">
          </div>
          <div class="input-div">
            <label for="shipFromZip"><span class="required-field">*</span>Zip: </label>
            <input id="shipFromZip" formControlName="zip">
          </div>
          <div class="input-div">
            <label for="shipFromSid">SID#: </label>
            <input id="shipFromSid" formControlName="sid">
          </div>
        </div>

        <div formGroupName="shipTo">
          <h3>Ship To: </h3>
          <div class="input-div">
            <label for="shipToName"><span class="required-field">*</span>Name: </label>
            <input id="shipToName" formControlName="name">
          </div>
          <div class="input-div">
            <label for="shipToAddress"><span class="required-field">*</span>Address: </label>
            <input id="shipToAddress" formControlName="address">
          </div>
          <div class="input-div">
            <label for="shipToCity"><span class="required-field">*</span>City: </label>
            <input id="shipToCity" formControlName="city">
          </div>
          <div class="input-div">
            <label for="shipToState"><span class="required-field">*</span>State: </label>
            <input id="shipToState" formControlName="state">
          </div>
          <div class="input-div">
            <label for="shipToZip"><span class="required-field">*</span>Zip: </label>
            <input id="shipToZip" formControlName="zip">
          </div>
          <div class="input-div">
            <label for="shipToCid">CID#: </label>
            <input id="shipToCid" formControlName="cid">
          </div>
        </div>

        <div formGroupName="specialInstructions">
          <h3>Special Instructions: </h3>

          @if (chosenForm()?.formEnum !== FormTypeEnum.GUARANTEE) {
            <div class="input-div">
              <label for="specialInstructionsEmptyMiles"><span class="required-field">*</span>Empty Miles Amount: </label>
              <input id="specialInstructionsEmptyMiles" formControlName="emptyMiles">
            </div>
          }
          <div class="input-div">
            <label for="specialInstructionsFreightBill"><span class="required-field">*</span>Freight Bill: </label>
            <input id="specialInstructionsFreightBill" formControlName="freightBill">
          </div>
          <div class="input-div">
            <label for="specialInstructionsOwed"><span class="required-field">*</span>Owed (price per mile)/Total Owed: </label>
            <input id="specialInstructionsOwed" formControlName="owed">
          </div >
          <div class="input-div">
            <label for="specialInstructionsTruckNumber"><span class="required-field">*</span>Truck #: </label>
            <input id="specialInstructionsTruckNumber" formControlName="truckNumber">
          </div>
        </div>

        <div class="button">
          <button type="button" (click)="resetForm()">Reset Form</button>
          <button type="button" (click)="startVerification()" [disabled]="formBody.invalid">Generate PDF</button>
        </div>
      </form>
    } @else {
      <h3>You're not supposed to be here...</h3>
    }
  }

  @if (isInVerification()) {
    <app-verification-modal (isVerified)="handleIsVerified($event)" />
  }

  @if (isCreatingPdf()) {
    <app-loading />
  }

</div>

